AMS_电子对账/code/server/source/com.yss.uco.elecreco/META-INF/config/schema/deploy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="dzcfg">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="info">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="code" type="xs:string" />
							<xs:element name="name" type="xs:string" />
							<xs:element name="type" type="xs:string" />
							<xs:element name="desc" />
							<xs:element name="version" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="template">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="table">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="dataset">
											<xs:complexType>
												<xs:sequence>
													<xs:element  maxOccurs="1000" name="field">
														<xs:complexType>
															<xs:attribute name="targetFiled" type="xs:string" />
															<xs:attribute name="sourceField" type="xs:string" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="dataSource" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" />
									<xs:attribute name="desc" />
								</xs:complexType>
							</xs:element>
							<xs:element  maxOccurs="1000"  name="datasource">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="code" type="xs:string" use="required" />
											<xs:attribute name="type" default="sql" >
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="sql"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
											<xs:attribute name="isLoop" type="xs:string" />
											<xs:attribute name="loopBy" type="xs:string" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>